[Unit]
Description=Mount NFS Share for %i's mcgeecloud
Requires=network-online.target
After=network-online.target

[Mount]
What=nas:/var/mnt/bender/shares/%i/mcgeecloud
Where=/home/%i/.mnt/mcgeecloud
Type=nfs
Options=bg,rw,hard,timeo=100,tcp,sec=krb5p

[Install]
WantedBy=multi-user.target
