[Unit]
Description=Mount NFS Share for %i's mcgeecloud
Requires=network-online.target
After=network-online.target

[Mount]
What=nas:/var/mnt/bender/shares/%i/mcgeecloud
Where=/home/%i/.mnt/mcgeecloud
Type=nfs
Options=defaults,rw,sec=krb5p,nosuid,x-gvfs-show

[Install]
WantedBy=multi-user.target
