[Unit]
Description=Mount NFS Share for mcgeecloud
Requires=network-online.target
After=network-online.target

[Mount]
What=nas:/mnt/shares/mcgeecloud
Where=%h/.mnt/mcgeecloud
Type=nfs
Options=defaults

[Install]
WantedBy=default.target
