[Unit]
Description=NFS mount for mcgeecloud in /home/%u/mcgeecloud
Requires=network.target
After=network-online.target

[Mount]
What=nas:/var/mnt/bender/cloud/%u
Where=/home/%u/mcgeecloud
Type=nfs4
Options=sec=krb5p

[Install]
WantedBy=multi-user.target
