[Desktop Entry]
Name=Desktop FirstBoot Setup
Comment=Sets up Desktop Correctly On FirstBoot
Exec=gnome-terminal -- /usr/share/firstboot/firstboot.sh
Icon=org.gnome.Terminal
Type=Application
Categories=Utility;System;
Name[en_US]=startup
