[Unit]
Description=Run distrobox command on reboot for user
After=network.target

[Service]
Type=oneshot
Environment="SHELL=/usr/bin/zsh"
ExecStart=/bin/sh -c 'exec /usr/bin/zsh -c "distrobox assemble create --file /etc/distrobox/distrobox.ini"'

[Install]
WantedBy=default.target